name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Portainer Webhook pull and redeploy
        uses: fjogeleit/http-request-action@v1
        with:
          url: '${{ secrets.DOCKER_HUB_TEST_DEPLOY }}'
          method: 'POST'
          preventFailureOnNoResponse: true
